fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}
#name{
    margin-left: 30px;
}
#email{
    margin-left: 27px;
}
#number{
    margin-left: 12px;
}