.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    font-size: 16px;
}

#nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.main-nav {
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

.main-nav > li:hover > a {
    color: cyan;
}

.main-nav > li > a {
    display: block;
    color: #FFFFFF;
    padding: 20px 30px;
    transition: background 0.5s ease;
    text-decoration: none;
}

.main-nav a:hover {
    color: cyan;
}
.main-nav > li {
    position: relative;
}
.dropdown {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    width: 100%;
    background: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    padding-left: 0;
}

.dropdownLi {
    border-bottom: 1px solid #fff;
    list-style-type: none;
    list-style-position: outside;
}

.dropdownLi {
    border-bottom: 0;
}

.dropdownA {
    display: block;
    padding: 15px 5px;
    text-decoration: none;
    color: #FFFFFF;
}
.main-nav > li:hover .dropdown {
    opacity: 1;
    visibility: visible;
}