.main{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #067b09;
    width: 100vw;
    height: 100vh;
}
i{
    font-size: 30px;
}
h1{
    font-family: "Times New Roman";
    font-size: 50px;
}
.card1:hover,.card2:hover,.card3:hover {
    transform: translateY(-20px);
}
.card1,.card2,.card3{
    transition: all 0.5s ease-in-out;
}
.card1 {
    z-index: 3;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Atlas_deck_10_of_hearts.svg/360px-Atlas_deck_10_of_hearts.svg.png") no-repeat;
    background-size: 150px 200px;
    position: relative;
    top: 120px;
    left: 370px;
    width: 150px;
    height: 200px;
    rotate: 10deg;
}
.card2{
    z-index: 2;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Atlas_deck_10_of_hearts.svg/360px-Atlas_deck_10_of_hearts.svg.png") no-repeat;
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
    position: relative;
    bottom: 95px;
    left: 300px;
    rotate: -10deg;
}
.card3{
    z-index:1;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Atlas_deck_10_of_hearts.svg/360px-Atlas_deck_10_of_hearts.svg.png") no-repeat;
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
    position: relative;
    bottom: 295px;
    left: 250px;
    rotate: -20deg;
}
